
body {
  padding-top: 56px;
  background-color: rgb(232, 204, 202);
}

/*--------------------------------------------------------------
# NavBar Section
--------------------------------------------------------------*/

#nav.bar
{
position:sticky;
top: 0;
z-index:10;
}

.navbar-brand img
{
height: 50px;
padding-left: 30px;
}

.navbar-custom { 
background-color: rgb(207, 149, 145);
} 
 .navbar-custom .navbar-brand, 
.navbar-custom .navbar-text { 
color: black; 
} 

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link
{
color: #000000!important;
font-weight: 600;
font-size: 16px;
}

.navbar-nav li a
{
float: right;
text-align: left;
}
#nav-bar ul li a:hover
{
color: #007bff!important;
} 

.navbar-toggler
{
border: none!important;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("../images/fondo1.jpg") center top no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  #hero {
    background: url("../images/fondo2.jpg") center top no-repeat;
    height: 80vh;
    width: 100%;
    position: relative;
    background-size: cover;
    /*padding: 0px 0px 0px 0px;*/
  }
}
@media (max-width: 600px) {
  #hero {
    background: url("../images/fondo2.jpg") center top no-repeat;
    height: 70vh;
    width: 100%;
    position: relative;
    background-size: cover;
    /*padding: 0px 0px 0px 0px;*/
  }
}

@media (max-width: 550px) {
  #hero {
    background: url("../images/fondo3.jpg") center top no-repeat;
    height: 60vh;
    width: 100%;
    position: relative;
    background-size: cover;
    /*padding: 0px -100px 0px 20px;*/
  }
}

  /*#hero .container {
    height: auto !important;
  }
  #hero .intro-img {
    width: 10%;
    height: auto !important;
  }*/


/*
@media (min-width: 992px) {
  #hero .intro-info {
    padding-top: 80px;
  }
}

@media (max-width: 767px) {
  #hero .intro-info {
    text-align: center;
    padding-top: 40px;
  }
}

#hero .intro-info h2 {
  color: #413e66;
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 700;
}

#hero .intro-info h2 span {
  color: #1bb1dc;
}

@media (max-width: 767px) {
  #hero .intro-info h2 {
    font-size: 34px;
    margin-bottom: 30px;
  }
}

#hero .intro-info .btn-get-started, #hero .intro-info .btn-services {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #1bb1dc;
  color: #fff;
}

#hero .intro-info .btn-get-started:hover, #hero .intro-info .btn-services:hover {
  background: #0a98c0;
}
*/

/*--------------------------------------------------------------
# Footer color
--------------------------------------------------------------*/

.footer-custom { 
background-color: rgb(207, 149, 145);
} 


/*--------------------------------------------------------------
# Carousel Section
--------------------------------------------------------------*/
/*
.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/
/*--------------------------------------------------------------
# portfolio Section
--------------------------------------------------------------*/

.portfolio-item {
  margin-bottom: 30px;
}

.my-4{
margin-bottom: 20px;
}
/*--------------------------------------------------------------
# Team Section
--------------------------------------------------------------*/

#team {
  padding: 60px 0;
}

/*

#team .member {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

#team .member .member-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
  padding: 15px 0;
  background: rgba(29, 28, 41, 0.6);
}

#team .member .member-info-content {
  transition: margin 0.2s;
  height: 40px;
  transition: height 0.4s;
}

#team .member:hover .member-info {
  transition: 0.4s;
}

#team .member:hover .member-info-content {
  height: 80px;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}

#team .member h3 {
  font-weight: 150;
  margin-bottom: 1px;
  font-size: 15px;
  color: #fff;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}

#team .member .social {
  margin-top: 15px;
}

#team .member .social a {
  transition: none;
  color: #fff;
}

#team .member .social a:hover {
  color: #1bb1dc;
}

#team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

*/


.people {
      padding: 20px 0;
 }

.item {
     margin-bottom: 20px
 }

 .item .box {
  text-align: center;
  position: relative;
  overflow: hidden;
     /*text-align: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     height: 205px;
     position: relative;
     overflow: hidden*/
 }

 .item .cover {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(29, 28, 41, 0.6);
     transition: opacity 0.15s ease-in;
     opacity: 0;
     padding-top: 50px;
     color: #fff;
     text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15)
 }

 .item:hover .cover {
     opacity: 1
 }

 .item .name {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }

 /*.item .title {
     text-transform: uppercase;
     font-weight: bold;
     color: #bbd8fb;
     letter-spacing: 2px;
     font-size: 13px;
     margin-bottom: 20px
 }

 .social {
     font-size: 18px
 }

 .social a {
     color: inherit;
     margin: 0 10px;
     display: inline-block;
     opacity: 0.7
 }

 .social a:hover {
     opacity: 1
 }*/